#title {
  font-size: 50px;
  color: blue;
  background: gray;
}

#title2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

#sec1, #sec2, #sec3 {
  border: solid 1px black;
  margin: 10px;
  background: gray;
}


h3 {
  text-align: center;
}

