.navbar-nav a {
  text-align: center;
  font-size: 1.5em;
  border :solid black 1px;
  background: gray;
}

#our-menu {
  font-size: 30px;
  margin: 20px;
}

#chicken-box {
  border: solid black 1px;
  background: yellow;
  margin: 10px;
  padding: 10px;
}

#beef-box {
  border: solid black 1px;
  padding: 10px;
  margin: 10px;
  background: gray;
}

#sushi-box {
  border: solid black 1px;
  margin: 10px;
  padding: 10px;
  background: green;
}









