* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

#box1 {
  background: gray;
}

#box2 {
  background: yellow;
}

#box3 {
  background: blue;
}

#box1, #box2, #box3 {
  border: black solid 3px;
  margin: 5px;
  width: 31%;
  float: left;
  padding: 10px;
}

#section1, #section2, #section3 {
  float: right;
  border-left: solid black 3px;
  border-bottom: solid black 3px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0 30px 0 30px;
}

#p1, #p2, #p3 {
  clear: right;
}

/*****Devices 768-991px******/
@media (min-width: 768px) and (max-width: 991px) {
  * {
  box-sizing: border-box;
  }

  #title {
    text-align: center;
  }
  #box1, #box2 {
    width: 46%;
    float: left;
  }
  #box3 {
    width: 95%;
    clear: both;
    margin

  }
}





