#title {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

#p1 {
  background: gray;
}

#p2 {
  background: yellow;
}

#p3 {
  background: blue;
}

h3 {
  text-align: right;
}


/*********Devices Larger than 992px********/
@media (min-width: 992px) {
  #p1, #p2, #p3 {
    float: left;
    box-sizing: border-box;
    width: 31%;
    border: 3px black solid;
    padding: 10px;
    margin: 10px;
  }
}





/***********Devices smaller than 767px**********/
/*@media screen and (max-width: 767px) {
  #p1, #p2, #p3 {
    float: none;
    width: 100%;
  }
  #title {
    text-align: center;
  }
}
  
  /*********Devices 768px-991px****************/
/*@media screen and (max-width: 991px) and (min-width: 768px) {
  #p1, #p2 {
    float: left;
    width: 100%;
  }
  #p3 {
    background: blue;
    float: none;
  }
}

/***********Devices larger than 992px*********/
/*@media (max-width: 1400px) {
  #p1, #p2, #p3{
    float: left;
    width: 30%;
  }
}
