#title {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

#p1 {
  float: left;
  padding: 10px;
  margin: 5px;
  background: yellow;
  width: 33%;
  border: 3px solid black;
  box-sizing: border-box;
}

#p2 {
  padding: 10px;
  margin: 5px;
  background: green;
  width: 33%;
  border: 3px solid black;
  box-sizing: border-box;
  float: left;
}

#p3 {
  padding: 10px;
  margin: 5px;
  background: gray;
  width: 30%;
  border: 3px solid black;
  box-sizing: border-box;
  float: left;
}

#content {
  
}

